<ion-header>
  <ion-toolbar>
    <ion-title>
      Bienvenido Clase Registrada
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding asistencia-page">
  <ion-card>
    <ion-card-header>
      <ion-title>Registro de Asistencia</ion-title>
    </ion-card-header>

    <ion-card-content>
      <p>Hora actual: {{ getCurrentTime() }}</p>
      <p>Nombre profesor: Francisco Iturra</p>
      <p>Sala: L9</p>
      <p>Latitud: {{ latitude }}</p>
      <p>Longitud: {{ longitude }}</p>
      <ion-button expand="full" (click)="tomarSelfie()">
        Tomar Selfie
      </ion-button>

      <!-- Mostrar la imagen debajo del botón con un marco y título -->
      <div *ngIf="selfieImage" class="selfie-container">
        <h2>Foto del alumno</h2>
        <img [src]="selfieImage" alt="Selfie" class="selfie-image">
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
