/* qr.page.scss */

ion-header {
  ion-toolbar {
    --background: #3498db; /* Color de fondo del encabezado */
    ion-title {
      color: #ffffff; /* Color del texto del título */
    }
    ion-buttons {
      ion-button {
        color: #ffffff; /* Color del texto del botón */
        --ripple-color: #ffffff; /* Color de la animación de ondulación al hacer clic */
      }
    }
  }
}

ion-content.qr-page {
  background-color: #f5f5f5; /* Color de fondo de la página */
  ion-fab {
    ion-fab-button {
      --background: #3498db; /* Color de fondo del botón flotante */
      --box-shadow: 0 4px 8px rgba(52, 152, 219, 0.5); /* Sombra suave */
      ion-icon {
        --color: #ffffff; /* Color del ícono */
      }
    }
  }

  ion-list {
    ion-item {
      border-bottom: 1px solid #ccc; /* Línea divisoria entre elementos */
      ion-label {
        --color: #333; /* Color del texto de la etiqueta */
      }
      ion-input {
        --color: #555; /* Color del texto de la entrada */
        --background: #f9f9f9; /* Color de fondo de la entrada */
        border-radius: 8px; /* Bordes redondeados de la entrada */
      }
    }
  }
}

