/* Añadir estos estilos al archivo recuperar-contrasena.page.scss */

.recovery-card {
  text-align: center; /* Centra el contenido del card */
}

.title {
  font-size: 24px; /* Ajusta el tamaño del título según sea necesario */
  font-weight: bold; /* Ajusta el peso de la fuente según sea necesario */
  margin-bottom: 10px; /* Ajusta el margen inferior del título según sea necesario */
}

.back-button {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 999;
}
