<ion-content class="ion-padding">
  <ion-card class="recovery-card">
    <ion-card-header>
      <ion-card-title class="title">Recuperar Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="recuperarContrasena()">
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" name="usuario" [(ngModel)]="usuario" required></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" color="primary">Recuperar Contraseña</ion-button>
      </form>
      <ion-item *ngIf="mostrarContrasenaAlert">
        <ion-label position="stacked">Contraseña recuperada</ion-label>
        <ion-text>{{ contrasenaRegistrada }}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Agregar el botón para volver a la página de login -->
  <ion-button shape="round" fill="solid" color="primary" (click)="irALogin()" class="back-button">
    <ion-icon name="arrow-back" color="light"></ion-icon>
  </ion-button>
</ion-content>
